<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - 1XBET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-confirmacao.css') }}">
</head>
<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='imagens/1xBet_Logo_rgb.png') }}" alt="1XBET Logo" class="logo">
    </div>

    <h2 class="form-title">¡Gracias por participar <br>
    en nuestra activación!</h2>
 
    <p class="form-text">
        El sorteo del gran premio se realizará <br>
        a las 6:30PM en nuestro stand,<br>
        junto a nuestro equipo de producción y<br> 
        presentado por nuestro anfitrión.
    </p>

    <p class="form-text">
        Para recibir el premio, el participante seleccionado <br>
        deberá estar presente en nuestro stand a la hora indicada<br>
        con un documento de identificación válido.
    </p>

    <p class="form-text">
        Si el participante no está presente al momento del<br>
        a sorteo y el llamado de su nombre, se realizará un nuevo<br>
        sorteo hasta que un ganador presente sea seleccionado.
    </p>

    <h3 class="form-highlight">¡Buena suerte!</h3>

    <p class="form-subtext">
        <span class="english-text">Thank you for participating in our activation!</span><br>
        <span class="english-text">The grand prize draw will take place at </span><br>
        <span class="english-text">6:30PM at our booth, alongside our production team.</span><br>
    </p>

    <p class="form-subtext">
        <span class="english-text">To claim the prize, the selected participant </span><br>
        <span class="english-text">must be present at our booth at the scheduled time</span><br>
        <span class="english-text">with a valid form of identification.</span>
    </p>

    <p class="form-subtext">
        <span class="english-text">If the selected participant is not present </span><br>
        <span class="english-text">after the draw and their name is called, new draw </span><br>
        <span class="english-text">will be conducted until a winner present is selected.</span><br>
        <span class="english-text">Good luck!</span>
    </p>
 
</body>
</html>
