<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - 1XBET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-confirmacao.css') }}">
</head>
<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='imagens/1xBet_Logo_rgb.png') }}" alt="1XBET Logo" class="logo">
    </div>

    <h2 class="form-title">Thank you for participating<br>
    in our activation!</h2>
 
    <p class="form-text">
        The grand prize draw will take <br>
        place at 6:30PM at our booth, <br>
        alongside our production team.
    </p>

    <p class="form-text">
        To claim the prize, the<br>
        selected participant must be present<br>
        at our booth at the scheduled time<br>
        with a valid form of identification.
    </p>

    <p class="form-text">
        If the selected participant is not present after<br>
        the draw and their name is called, a<br>
        new draw will be conducted until a<br>
        winner present is selected.
    </p>

    <h3 class="form-highlight">Good luck!</h3>

    <p class="form-subtext">
        <span class="english-text">¡Gracias por participar en nuestra activación!</span><br>
        <span class="english-text">El sorteo del gran premio se realizará a las 6:30PM en nuestro</span><br>
        <span class="english-text">stand, junto a nuestro equipo de producción y presentado</span><br>
        <span class="english-text">por nuestro anfitrión.</span>
    </p>

    <p class="form-subtext">
        <span class="english-text">Para recibir el premio, el participante seleccionado</span><br>
        <span class="english-text">deberá estar presente en nuestro stand a la hora indicada</span><br>
        <span class="english-text">con un documento de identificación válido.</span>
    </p>

    <p class="form-subtext">
        <span class="english-text">Si el participante no está presente al momento del</span><br>
        <span class="english-text">sorteo y el llamado de su nombre, se realizará un nuevo</span><br>
        <span class="english-text">sorteo hasta que un ganador presente sea seleccionado.</span><br>
        <span class="english-text">¡Buena suerte!</span>
    </p>
 
</body>
</html>
