<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - 1XBET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-confirmacao.css') }}">
</head>
<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='imagens/1xBet_Logo_rgb.png') }}" alt="1XBET Logo" class="logo">
    </div>

   <h2 class="form-title">Obrigado por participar <br>
    da nossa ativação!</h2>
 
    <p class="form-text">
        O sorteio do grande prêmio será realizado <br>
        às 16h em nosso estande,<br>
        junto à nossa equipe de produção e<br> 
        apresentado pelo nosso anfitrião.
    </p>

    <p class="form-text">
        Para receber o prêmio, o participante selecionado <br>
        deverá estar presente em nosso estande na hora indicada<br>
        com um documento de identificação válido.
    </p>

    <p class="form-text">
        Se o participante não estiver presente no momento do<br>
        sorteio e da chamada de seu nome, será realizado um novo<br>
        sorteio até que um ganhador presente seja selecionado.
    </p>

    <h3 class="form-highlight">Boa sorte!</h3>

    <p class="form-subtext">
        <span class="english-text">Thank you for participating in our activation!</span><br>
        <span class="english-text">The grand prize draw will take place at </span><br>
        <span class="english-text">4PM at our booth, alongside our production team.</span><br>
    </p>

    <p class="form-subtext">
        <span class="english-text">To claim the prize, the selected participant </span><br>
        <span class="english-text">must be present at our booth at the scheduled time</span><br>
        <span class="english-text">with a valid form of identification.</span>
    </p>

    <p class="form-subtext">
        <span class="english-text">If the selected participant is not present </span><br>
        <span class="english-text">after the draw and their name is called, new draw </span><br>
        <span class="english-text">will be conducted until a winner present is selected.</span><br>
        <span class="english-text">Good luck!</span>
    </p>
 
</body>
</html>
